
<h2> The place : {{name}} </h2>

<h2>Who runs the place ? {{ owner }}</h2>


<h2>What do they Have ? {{ type }}</h2>

<h3> "Menu link holder" </h3>

<h2>How many can they fit ? {{ capacity }}</h2>

<a id ="pop" class="button" href="/{{id}}/edit">Edit This listing</a>


